@font-face {
    font-family: 'beauty_and_the_beastregular';
    src: url('/fonts/beautyandthebeastsample-webfont.woff2') format('woff2'),
         url('/fonts/beautyandthebeastsample-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allthingspink';
    src: url('/fonts/all_things_pink-webfont.woff2') format('woff2'),
         url('/fonts/all_things_pink-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'beauty_and_the_beastregular';
    font-weight:normal;
    font-style:normal;
    padding: 2px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
    line-height: 90%;
    font-weight:normal;
    font-style:normal;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

a {
    font-size: 20px;
}

body {
    background-image: url("images/peachBlossomBg.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    font-family: 'allthingspink';
}

#content {
    margin-right: auto;
    width: 52%;
    margin-left: 150px;
    padding: 0px 10px;
}

#sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    padding: 8px 0;
}

#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40 px;
    font-family: 'allthingspink';
    font-style: bold;
    color: rgb(0, 0, 0);
    display: block;
}

#sidenav a:hover {
    text-shadow: -.25px -.25px 0 black, 
                .25px .25px black; 
    color: #660066;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 6px 25px;
    border-radius: 4px;
}

input[type=text]:focus {
  border: 1px solid #555;
}

select {
    border-radius: 4px;
    font-family: 'allthingspink';
    font-size: 18px;
    border: 0px;
}

input[type=submit] {
    border-radius: 4px;
    background-color: #3CBC8D;
    color: white; 
    font-family: 'allthingspink';
    font-size: 18px;
    border: 0px;
    margin: 0px 25px;
}

input[type=submit]:hover {
  border: 1px solid #555;
}

.comment-container {
    margin: 8px 25px;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    padding: 2px 15px 10px;
    position: relative;
}

.comment-text-container {
    width: 100%;
    padding: 12px 0px 21px;
    overflow-wrap: anywhere;
    font-size: 15px;
    font-family: 'Segoe UI';
}

.comment-date-container {
    font-size: 14px;
    padding: 10px 10px 1px 10px;
    bottom: 0;
    right: 0;
    position: absolute;
}

* {
    box-sizing: border-box;
}

.project, .experience {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    text-align:center;
}

.project-container, .experience-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    min-height: 100px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.workDuration {
  /* color: #f2f2f2; */
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.project-dot, .exp-dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .project-dot:hover, .exp-dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
}